## visual studio

**/.vs/

##

## vscode

**/.cache/

##

## build directories

**/out/
**/build/

##

## garbage

# GitHub workflow stuff (will be reworked)
.github/
*.PROJ

# C++
*.lib
*.exe
*.pdb
*.dll

# Python
**/__pycache__/

# macOS
*.DS_Store

# Downloaded files
Objective-C.gitignore

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

##