## specific folders

**/[Dd]ebug/
**/[Rr]elease/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/

##

## test results

**/TestResults/
*.trx

##

## visual studio

**/.vs/
**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates

##

## vscode

**/.cache/

##

## build directories

**/out/
**/build/

##

## garbage

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# C++
*.lib
*.exe
*.pdb
*.dll

# Python
**/__pycache__/
*.pyc

# macOS
*.DS_Store

# Downloaded files
Objective-C.gitignore

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

##